node_modules
.DS_Store
docs/_book

# Python
*.py[cod]

# C extensions
*.so

# Packages
*.egg
*.egg-info
/dist
/build
/eggs
/parts
/bin
/var
/sdist
/develop-eggs
/lib
/lib64
.installed.cfg

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml

# Mr Developer
.mr.developer.cfg
.project
.pydevproject

settings_local.py
urls_local.py

# PyCharm IDE
.idea

# Compressor CACHE
CACHE

# media
media

celerybeat-schedule

workfile

# coffee map files
*.map
